{% extends "base.html.twig" %}

{% block body %}
	<div class="container-md bg-light mt-5">
		<div class="mt-5 col-lg-12">&nbsp;</div>
		<div class="row">
			<div class="col">
				<h1>Brandon Charnick</h1>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				<h5>PHP web developer. Based in Phoenix, AZ.</h5>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				<a class="btn btn-primary" target="_blank" href="https://github.com/brandon-charnick">GitHub</a>
				<a class="btn btn-primary" target="_blank" href="https://www.linkedin.com/in/brandon-charnick/">LinkedIn</a>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-lg-12">
				<h2 class="mt-5">Top Expertise</h2>
				<p class="mt-4">
					Back-end web development with PHP. Currently working on an ERP system developed upon the Symfony framework.
				</p>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-lg-12">
				<h2 class="mt-5">Top Technologies</h2>
				<p class="mt-4">
					<ul class="list-group list-group-horizontal border-0">
						<li class="list-group-item border-0 bg-light">PHP</li>
						<li class="list-group-item border-0 bg-light">JavaScript</li>
						<li class="list-group-item border-0 bg-light">MySQL</li>
						<li class="list-group-item border-0 bg-light">Symfony</li>
					</ul>
					<ul class="list-group list-group-horizontal border-0">
						<li class="list-group-item border-0 bg-light">Docker</li>
						<li class="list-group-item border-0 bg-light">Linux</li>
						<li class="list-group-item border-0 bg-light">Git</li>
						<li class="list-group-item border-0 bg-light">Doctrine ORM</li>
					</ul>
					<ul class="list-group list-group-horizontal border-0">
						
						<li class="list-group-item border-0 bg-light">jQuery</li>
						<li class="list-group-item border-0 bg-light">HTML / CSS</li>
						<li class="list-group-item border-0 bg-light">Twig</li>
					</ul>
				</p>
				<h5>Currently Learning</h5>
				<p>
					<ul class="list-group list-group-horizontal border-0">
						<li class="list-group-item border-0 bg-light">React</li>
						<li class="list-group-item border-0 bg-light">AWS / DevOps</li>
					</ul>
				</p>
			</div>
		</div>

		<div class="row mt-5">
			<div class="row">
				<h2>Experience</h2>
			</div>
			<div class="timeline-container">
				<div class="container">
					<div class="timeline">
						<ul class="list">
							<li class="list-item">
								<div class="timeline-content">
									<h3 class="date">September 2021 - Present</h3>
									<h1>PHP Developer @ ER2</h1>
									<h6>Mesa, AZ</h6>

									<p>
										<ul>
											<li>Engineer PHP web application solutions for the management of inventory and internal business process.</li>
											<li>Develop using Symfony framework best practices and methodologies.</li>
											<li>Collect the full scope of projects and coordinate work with team members supporting projects from concept, to development, to deployment, to launch.</li>
											<li>Design and implement web infrastructure including back-end databases, classes, libraries, and other core structures, with an object-oriented programming approach that allows for scalability and flexibility.</li>
											<li>Support production infrastructure and CI/CD processes hosted with AWS.</li>
										</ul>
									</p>
								</div>
							</li>
							<li class="list-item">
								<div class="timeline-content">
									<h3 class="date">October 2017 - August 2021</h3>
									<h1>PHP Developer @ Stream Logistics</h1>
									<h6>Scottsdale, AZ</h6>
									<p>
										<ul>
											<li>Developed on a web-based logistics and transportation management system built with CodeIgniter PHP framework.</li>
											<li>Maintained core services running on a Linux, Apache, MySQL, and PHP (LAMP) stack.</li>
											<li>Improved operations efficiency through automating manual back-office processes and through the creation and optimization of internal pricing systems.</li>
											<li>Facilitated SEO and marketing initiatives to increase website traffic month over month.</li>
										</ul>
									</p>
								</div>
							</li>
							<li class="list-item">
								<div class="timeline-content">
									<h3 class="date">2016 - 2017</h3>
									<h1>Service Team Lead @ Stream Logistics</h1>
									<h6>Scottsdale, AZ</h6>
									<p>
										<ul>
											<li>Led a team of three members within the specialized and expedited supply chain department.</li>
											<li>Guided the set up, service, and growth of customer accounts.</li>
											<li>Increased account retention and loyalty rates by 15%.</li>
											<li>Collaborated with the executive and development teams for the discovery, planning, testing, and implementation of ERP system features and functionality.</li>
										</ul>
									</p>
								</div>
							</li>
							<li class="list-item">
								<div class="timeline-content">
									<h3 class="date">2014 - 2016</h3>
									<h1>Supply Chain Specialist @ Stream Logistics</h1>
									<h6>Scottsdale, AZ</h6>
									<p>
										<ul>
											<li>Managed the logistics and transportation for accounts in excess of $2M in yearly revenue.</li>
											<li>Expanded client service options with the creation of systems in air freight, drayage, warehousing, and expedited ground transportation.</li>
										</ul>
									</p>
								</div>
							</li>
							<li class="list-item">
								<div class="timeline-content">
									<h3 class="date">2010 - 2014</h3>
									<h1>B.S. in Business Management @ Arizona State University</h1>
									<h6>Tempe, AZ</h6>
									<p>
										<ul>
											<li>Analyzed case studies and research on best business management practices.</li>
											<li>Developed a knowledge of all functional business units including finance, accounting, human resources, supply chain, and leadership.</li>
											<li>Capstone project:</li>
											<ul>
												<li>Collaborating with peers, we created a solution for a supply chain management issue to a real company.</li>
												<li>Explored the root cause by monitoring business processes.</li>
												<li>Resulted in a reduction in inventory shrinkage by 5%.</li>
											</ul>
										</ul>
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
