{% extends "base.html.twig" %}

{% block body %}
    <div class="container-md mt-5">
        <div class="row mt-5">
            <div class="col">
                <h1>Brandon Charnick</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h5>Senior Application Developer | PHP & Symfony | Specializing in full-stack solutions | Committed to
                    crafting efficient and scalable code.</h5>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a class="btn btn-primary" target="_blank" href="https://github.com/brandon-charnick">GitHub</a>
                <a class="btn btn-primary" target="_blank"
                   href="https://www.linkedin.com/in/brandon-charnick/">LinkedIn</a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12">
                <h2 class="mt-5">Top Expertise</h2>
                <p>
                    Currently working on a Symfony application for clinicial research administration.
                </p>
            </div>
        </div>

        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-2 tm-expertise-images">
            <div class="col tm-img-wrap">
                <div class="expertise-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm expertise-name">
                                PHP
                            </div>
                            <div class="col-sm">
                                <i class="fab fa-php fa-4x expertise-image"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col tm-img-wrap">
                <div class="expertise-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm expertise-name">
                                JavaScript
                            </div>
                            <div class="col-sm">
                                <i class="fab fa-js fa-4x expertise-image"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col tm-img-wrap">
                <div class="expertise-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm expertise-name">
                                MySQL/ORM
                            </div>
                            <div class="col-sm">
                                <i class="fas fa-database fa-4x expertise-image"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col tm-img-wrap">
                <div class="expertise-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm expertise-name">
                                Linux
                            </div>
                            <div class="col-sm">
                                <i class="fa-brands fa-ubuntu fa-4x expertise-image"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col tm-img-wrap">
                <div class="expertise-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm expertise-name">
                                Docker
                            </div>
                            <div class="col-sm">
                                <i class="fa-brands fa-docker fa-4x expertise-image"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col tm-img-wrap">
                <div class="expertise-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm expertise-name">
                                Symfony/MVC
                            </div>
                            <div class="col-sm">
                                <i class="fa-brands fa-symfony fa-4x expertise-image"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col tm-img-wrap">
                <div class="expertise-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm expertise-name">
                                Git
                            </div>
                            <div class="col-sm">
                                <i class="fas fa-code-branch fa-4x expertise-image"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="row">
                <h2>Experience</h2>
            </div>
            <div class="timeline-container">
                <div class="timeline">
                    <ul class="list">
                        <li class="list-item">
                            <div class="timeline-content">
                                <h3 class="date">February 2023 - Present</h3>
                                <h1>Senior Application Developer @ Vanderbilt University Medical Center</h1>
                                <h6>Nashville, TN (Remote)</h6>
                                <ul>
                                    <li>
                                        Lead development of a secure, PHP/Symfony application to streamline clinical
                                        research workflows focused around federally regulated human research.
                                    </li>
                                    <li>
                                        Direct full-cycle project management, from conceptualization and strategic
                                        planning to robust deployment and post-launch optimization, ensuring alignment
                                        with healthcare compliance and data standards.
                                    </li>
                                    <li>
                                        Drive modernization efforts within a legacy codebase, incorporating advanced
                                        security features and Object–relational mapping (Doctrine ORM) to fortify data
                                        integrity, improve maintainability, and reduce cognitive overhead.
                                    </li>
                                    <li>
                                        Engineer robust web infrastructure within a complex healthcare environment with
                                        the transition from virtual machines to Kubernetes (Red Hat OpenShift).
                                    </li>
                                    <li>
                                        Developed application features leveraging OOP to enhance functionality and
                                        streamline analyst workflows in compliance with regulatory requirements.
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="timeline-content">
                                <h3 class="date">September 2021 - February 2023</h3>
                                <h1>PHP Developer @ ER2</h1>
                                <h6>Mesa, AZ (Hybrid)</h6>
                                <ul>
                                    <li>
                                        Developed a Symfony-based inventory tracking system, reducing manual entry and
                                        spreadsheet usage by 90%, accelerating workflows and enhancing visibility within
                                        a high-volume IT asset refurbishment operation.
                                    </li>
                                    <li>
                                        Demonstrated proficiency in AWS, Docker, and CI/CD practices, designing and
                                        maintaining a robust, cloud-based application infrastructure.
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="timeline-content">
                                <h3 class="date">October 2017 - August 2021</h3>
                                <h1>PHP Developer @ Stream Logistics</h1>
                                <h6>Scottsdale, AZ (Hybrid)</h6>
                                <ul>
                                    <li>
                                        Engineered extensions within a logistics and transportation management system,
                                        seamlessly integrating numerous external APIs (SendGrid, Twilio, MailChimp…) to
                                        enhance communication and engagement capabilities.
                                    </li>
                                    <li>
                                        Built a client quoting system, driving a 15% sales increase and reducing errors
                                        by 75% within a logistics platform.
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="timeline-content">
                                <h3 class="date">2014</h3>
                                <h1>B.S. in Business Management @ Arizona State University</h1>
                                <h6>Tempe, AZ</h6>
                                <ul>
                                    <li>Analyzed case studies and research on best business management practices.</li>
                                    <li>Developed a knowledge of all functional business units including finance,
                                        accounting, human resources, supply chain, and leadership.
                                    </li>
                                    <li>Capstone project:</li>
                                    <ul>
                                        <li>Collaborating with peers, we created a solution for a supply chain
                                            management issue to a real company.
                                        </li>
                                        <li>Explored the root cause by monitoring business processes.</li>
                                        <li>Resulted in a reduction in inventory shrinkage by 5%.</li>
                                    </ul>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
