$primary: darken(#428bca, 15%);
$dark-mode: darkslategray;
$light-mode: blanchedalmond;

// https://getbootstrap.com/docs/5.2/components/list-group/
$list-group-color: inherit;

// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';

.dropdown-toggle {
    outline: 0;
}
.custom-theme.bg-light {
    background-color: $dark-mode !important;
    border-radius: 3px;
    color: gainsboro;
    text-decoration: underline;
}
.custom-theme.bg-dark {
    background-color: $light-mode !important;
    box-shadow: 10px 5px 5px rgba(246, 255, 219, 0.5);
    color: dimgray;
    text-decoration: overline;
}

.expertise-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1040px;
    margin: auto;
    gap: 15px;
}

.expertise-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 0 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-height: 50px;

    @media (max-width: 768px) {
        flex: 0 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

.expertise-name {
    color: #fff;
    background: $primary;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 1.1em;
    flex: 0 0 25%;
}

.expertise-image {
    color: #6c757d;
    padding: 10px;
    flex-grow: 1;
}

.timeline-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .timeline {
        height: auto;
        margin: 0 auto;
        position: relative;

        .list {
            list-style: none;
        }

        .list-item {
            background-color: #242526;
            color: #e4e6eb;
            border: 1px solid #343a40;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: translateY(-5px);
                background-color: #303030;
                border-color: #5a5c60;
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
                border-radius: 20px 20px 20px 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .timeline-content {
            h1 {
                font-weight: 500;
                font-size: 25px;
                margin-bottom: 2px;
            }

            h6 {
                margin-bottom: 13px;
            }

            p {
                font-size: 16px;
                line-height: 30px;
                font-weight: 300;
                margin-top: 15px;
            }

            ul {
                padding-left: 15px;
            }

            .date {
                font-size: 14px;
                font-weight: 425;
                top: -10px;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .timeline {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                transform: translateX(-50%);
                width: 2px;
                height: 100%;
                background-color: gray;
            }
            .list-item {
                position: relative;
                margin-bottom: 50px;
                padding: 20px;
            }
            .list-item:nth-child(odd) {
                float: left;
                clear: right;
                transform: translateX(30px);
            }
            .list-item:nth-child(even) {
                clear: left;
                transform: translateX(30px);
                border-radius: 0px 20px 20px 20px;
            }
            .list-item::before {
                content: '';
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: gray;
                top: 0px;
            }
            .list-item:nth-child(odd)::before {
                left: -30px;
                transform: translate(-50%, -50%);
            }
            .list-item:nth-child(even)::before {
                left: -30px;
                transform: translate(-50%, -50%);
            }
            .list-item:hover::before {
                background-color: $primary;
            }
        }
    }
}
