{% extends "base.html.twig" %}

{% block body %}
<div class="row mt-5">
    <div class="col">
        <h1 class="name-title">Brandon Charnick</h1>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <h5>
            Senior Application Developer
        </h5>
    </div>
</div>

<div class="row mt-3 social-links">
    <div class="col">
        <a class="btn btn-primary" target="_blank" href="https://github.com/brandon-charnick">GitHub</a>
        <a class="btn btn-primary" target="_blank" href="https://www.linkedin.com/in/brandon-charnick/">LinkedIn</a>
    </div>
</div>

<div class="row mt-5 expertise-section">
    <div class="col-lg-12">
        <h2 class="expertise-title">About</h2>
        <p class="expertise-description">
            Dynamic and detail-oriented Full Stack Developer with a strong focus in designing and developing scalable, secure web applications across the development stack. Experienced in transforming business workflows through web solutions, optimizing CI/CD pipelines, and supporting system infrastructure. I enjoy collaborating across teams and engaging with users to ensure clear communication and successful project outcomes. My passion lies in improving the developer experience and ensuring seamless application enhancements.
        </p>
    </div>

    <div class="expertise-container mt-3">
        <div class="expertise-box">
            <div class="expertise-name">PHP</div>
            <i class="fa-brands fa-php fa-3x expertise-image"></i>
        </div>
        <div class="expertise-box">
            <div class="expertise-name">JavaScript</div>
            <i class="fa-brands fa-js fa-3x expertise-image"></i>
        </div>
        <div class="expertise-box">
            <div class="expertise-name">SQL</div>
            <i class="fa-solid fa-database fa-3x expertise-image"></i>
        </div>
        <div class="expertise-box">
            <div class="expertise-name">CI/CD</div>
            <i class="fa-solid fa-infinity fa-3x expertise-image"></i>
        </div>
        <div class="expertise-box">
            <div class="expertise-name">Linux</div>
            <i class="fa-brands fa-ubuntu fa-3x expertise-image"></i>
        </div>
        <div class="expertise-box">
            <div class="expertise-name">Containerization</div>
            <i class="fa-brands fa-docker fa-3x expertise-image"></i>
        </div>
        <div class="expertise-box">
            <div class="expertise-name">Symfony/MVC</div>
            <i class="fa-brands fa-symfony fa-3x expertise-image"></i>
        </div>
        <div class="expertise-box">
            <div class="expertise-name">Git</div>
            <i class="fa-solid fa-code-branch fa-3x expertise-image"></i>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="timeline-container">
        <div class="timeline">
            <ul class="list">
                <li class="list-item">
                    <div class="timeline-content">
                        <h3 class="date">February 2023 - Present</h3>
                        <h1>Senior Application Developer @ Vanderbilt University Medical Center</h1>
                        <h6>Nashville, TN (Remote)</h6>
                        <ul>
                            <li>Technologies: PHP 8, JavaScript, Oracle Database, Kubernetes, Helm, Docker/Podman, GitHub Actions, and the Symfony Framework.</li>
                            <li>Design and lead development of a PHP/Symfony application streamlining clinical research workflows for 5000+ researchers, improving efficiency and compliance with healthcare regulations.</li>
                            <li>Engineer the migration from virtual machines to containerized environments using Kubernetes, Helm, and Red Hat OpenShift.</li>
                            <li>Enhance deployment efficiency and reliability by implementing a CI/CD pipeline with GitHub Actions, automating image building, testing, and deployment across all environments.</li>
                            <li>Modernizing a mature PHP codebase by utilizing object-oriented principles and refactoring large service classes into their core components such as permissions, security, and workflows.</li>
                            <li>Collaborate closely with product owners, cross-functional teams, and stakeholders in daily standups, ensuring alignment on system enhancements and project goals.</li>
                        </ul>
                    </div>
                </li>
                <li class="list-item">
                    <div class="timeline-content">
                        <h3 class="date">September 2021 - February 2023</h3>
                        <h1>Full Stack Web Developer @ ER2</h1>
                        <h6>Mesa, AZ (Hybrid)</h6>
                        <ul>
                            <li>Technologies: PHP 8, JavaScript, MySQL, Amazon Web Services, Docker, GitHub Actions, and the Symfony Framework.</li>
                            <li>Developed a comprehensive system for tracking assets for logistics and refurbishing workflows, from tag printing to final sale, integrating with hardware such as handheld scanners.</li>
                            <li>Designed and implemented CI/CD pipelines using GitHub Actions and AWS CloudFormation, configuring ECS for scalable deployments. Integrated AWS services including SES (SMTP relay), OpenSearch (Elasticsearch), S3 (storage), and RDS (MySQL).</li>
                            <li>Expanded development team from one to three members, mentoring junior developers and implementing best practices that improved project efficiency and code quality.</li>
                        </ul>
                    </div>
                </li>
                <li class="list-item">
                    <div class="timeline-content">
                        <h3 class="date">August 2014 - August 2021</h3>
                        <h1>Full Stack Web Developer @ Stream Logistics</h1>
                        <h6>Scottsdale, AZ (Hybrid)</h6>
                        <ul>
                            <li>Technologies: PHP 5.6, JavaScript, LAMP stack, and the CodeIgniter PHP Framework.</li>
                            <li>Developed a custom ERP system for transportation management, accounting, human resources, and customer relationship management.</li>
                            <li>Designed and built a custom client quoting system, integrating mapping services, internal databases, and external data providers. This system leveraged historical and market data with mileage calculations to automate RFP generation, significantly improving sales quoting efficiency and accuracy by reducing errors.</li>
                            <li>Integrated various APIs, including SendGrid, Twilio, and location providers into the logistics systems to automate communication workflows, improving both client and internal messaging.</li>
                        </ul>
                    </div>
                </li>
                <li class="list-item">
                    <div class="timeline-content">
                        <h3 class="date">2014</h3>
                        <h1>B.S. in Business Management @ Arizona State University</h1>
                        <h6>Tempe, AZ</h6>
                        <ul>
                            <li>Analyzed case studies and research on best business management practices.</li>
                            <li>Developed a knowledge of all functional business units including finance, accounting, human resources, supply chain, and leadership.</li>
                            <li>Capstone project:</li>
                            <ul>
                                <li>Collaborating with peers and a local business, we addressed a supply chain shrinkage issue for a flooring company.</li>
                                <li>Explored the root cause by monitoring business processes.</li>
                                <li>Resulted in a reduction in inventory shrinkage by 5%.</li>
                            </ul>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
